[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = '''functions/common_events.lua'''
pattern = '''
localize{type = 'descriptions', key = _c.key, set = _c.set, nodes = desc_nodes, vars = specific_vars or {}}
    elseif _c.set == 'Back' or _c.set == 'Blind' then localize{type = 'descriptions', key = _c.key, set = _c.set, nodes = desc_nodes, vars = specific_vars or {}}
'''
position = 'at'
match_indent = true
payload = '''
localize{type = 'descriptions', key = _c.key, set = _c.set, nodes = desc_nodes, vars = specific_vars or {}, card = card}
    elseif _c.set == 'Back' or _c.set == 'Blind' then localize{type = 'descriptions', key = _c.key, set = _c.set, nodes = desc_nodes, vars = specific_vars or {}, card = card}
'''

[[patches]]
[patches.pattern]
target = '''functions/misc_functions.lua'''
pattern = '''
if (args.type == 'descriptions' or args.type == 'other') and type(loc_target.text) == 'table' and type(loc_target.text[1]) == 'table' then
    args.AUT.multi_box = args.AUT.multi_box or {} 
    for i, box in ipairs(loc_target.text_parsed) do
        for j, line in ipairs(box) do
            local final_line = SMODS.localize_box(line, args)
            if i == 1 or next(args.AUT.info) then
                args.nodes[#args.nodes+1] = final_line -- Sends main box to AUT.main
                if not next(args.AUT.info) then args.nodes.main_box_flag = true end
            elseif not next(args.AUT.info) then 
                args.AUT.multi_box[i-1] = args.AUT.multi_box[i-1] or {}
                args.AUT.multi_box[i-1][#args.AUT.multi_box[i-1]+1] = final_line
            end
            if not next(args.AUT.info) then args.AUT.box_colours[i] = args.vars.box_colours and args.vars.box_colours[i] or G.C.UI.BACKGROUND_WHITE end
        end
    end
    return
end
'''
position = 'before'
match_indent = true
payload = '''
if (args.type == 'descriptions' or args.type == 'other') then
    local ret = SCP.generate_description_localization(args, loc_target)
    if ret then return end
end
'''

[[patches]]
[patches.pattern]
target = '''functions/misc_functions.lua'''
pattern = '''
center.text_parsed = {}
if not center.text then else
    for _, line in ipairs(center.text) do
        if type(line) == 'table' then
            center.text_parsed[#center.text_parsed+1] = {}
            for _, new_line in ipairs(line) do
                center.text_parsed[#center.text_parsed][#center.text_parsed[#center.text_parsed]+1] = loc_parse_string(new_line)
            end
        else
            center.text_parsed[#center.text_parsed+1] = loc_parse_string(line)
        end
    end
'''
position = 'after'
match_indent = true
payload = '''
for ind, tbl in pairs(center) do
    if ind ~= "name" and ind ~= "text" and ind ~= "text_parsed" and not string.find(ind, "_parsed") then
        if type(center[ind]) == "table" then
            center[ind.."_parsed"] = {}
            for _, line in ipairs(center[ind]) do
                if type(line) == 'table' then
                    center[ind.."_parsed"][#center[ind.."_parsed"]+1] = {}
                    for _, new_line in ipairs(line) do
                        center[ind.."_parsed"][#center[ind.."_parsed"]][#center[ind.."_parsed"][#center[ind.."_parsed"]]+1] = loc_parse_string(new_line)
                    end
                else
                    center[ind.."_parsed"][#center[ind.."_parsed"]+1] = loc_parse_string(line)
                end
            end
        end
    end
end
'''


[[patches]]
[patches.pattern]
target = '''functions/common_events.lua'''
pattern = '''
if not G.localization.descriptions[set][_c.key] then set = "Other" end
'''
position = 'at'
match_indent = true
payload = '''
if not G.localization.descriptions[set] or not G.localization.descriptions[set][_c.key] then set = "Other" end
'''
